.become-driver {
    background: linear-gradient(rgb(0,13,107,0.9), rgb(0,13,107,0.9)), 
    url("../../assets/all-images/drive.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
}

.become-driver button {
    background: #fff;
    color: var(--color-one); 
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 15px;
}

.become-driver-title {
    font-size: 2.8rem;
    color: #fff;
    line-height: 65px;
}

@media screen and (max-width:992px) {
    .become-driver-title {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:768px) {
    .become-driver {
        padding: 50px 0px;
    }

    .become-driver-title {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .become-driver-btn {
        font-size: 0.8rem !important;
    }
}


@media screen and (max-width:768px) {
    .become-driver-img {
        display: none;
    }

    .become-driver {
        text-align: center;
    }
}